html {
	font-size: 24px;
	background-image: url(media/pexels-henry-&-co-1939485.jpg);
	font-family: 'Noto Sans', sans-serif;
}

body {
	width: 80%;
	margin: 0 auto;
	background-color: #CFCBCA;
	padding: 20px 20px 20px 20px;
	  }
h1 {
	  margin: 0;
	}
img {
	border: 1px solid #A7BBC7;
	padding: 10px;
	margin-left: 50%;
	margin-right: 50%;
}

p {
	padding: 20px 20px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
  }
.head {
	text-align: center;
	color: #8C271E;
	
}
.bg {
	border: 1px solid #ABA194;
	background-color: #D8DDDE;

}

.left {
	width: 45%;
	float: left;
}
.right {
	width: 45%;
	float: right;
}
.clear {
	clear: all;
}
